[Unit]
Description=ep6_dashboard.service - Web Application for Clifford Lab at EP6
After=network.target
 
[Service]
User=root
Group=root
WorkingDirectory=/mnt/c/Users/ratan/Documents/ep6_dashboard/backend
ExecStart=gunicorn --workers 5 --bind 0.0.0.0:9800 run:app
 
[Install]
WantedBy=multi-user.target