.sidebar{
    flex: 1;
    background-color: rgb(251,251,255);
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    color: rgb(187,186,186);
    font-size: 13px;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(228,228,250);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}