.tools {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.toolsItem {
    flex : 1;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border-radius: 15px;
    cursor : pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.toolsTitle {
    font-size: 20px;
    color: #555;
}

.toolsValues {
    font-size: 15px;
}